body{
    background-color:lightgreen;
}
#status{
    font-family: 'Zen Maru Gothic', sans-serif;
}
#center{
    width:350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}
#center h1{
    font-size: 70px;
}
#time{
    font-family: 'Noto Serif JP', serif;
}
#tggle{
    height: 25px;
    position: absolute;
    top: 0px;
    right: 15%;
}
#tggle p{
    font-size: small;
}
#changebutton{
    width:100%;
    height: 50px;
    position: absolute;
    bottom:0;
    left: 0;
    text-align: center;
    background-color:dodgerblue;
    font-size: 30px;
    cursor: pointer;
}

/* === ボタンを表示するエリア ============================== */
.switchArea {
line-height    : 20px;                /* 1行の高さ          */
letter-spacing : 0;                   /* 文字間             */
text-align     : center;              /* 文字位置は中央     */
font-size      : 9px;                /* 文字サイズ         */

position       : relative;            /* 親要素が基点       */
margin         : auto;                /* 中央寄せ           */
width          : 50px;               /* ボタンの横幅       */
}

/* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
display        : none;            /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
display        : block;               /* ボックス要素に変更 */
box-sizing     : border-box;          /* 枠線を含んだサイズ */
height         : 20px;                /* ボタンの高さ       */
border         : 2px solid #999999;   /* 未選択タブのの枠線 */
border-radius  : 10px;                /* 角丸               */
}

/* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
border-color   : #78bd78;             /* 選択タブの枠線     */
}

/* === 表示する文字（標準） ================================ */
.switchArea label span:after{
content        : "OFF";               /* 表示する文字       */
padding        : 0 0 0 12px;          /* 表示する位置       */
color          : #999999;             /* 文字色             */
}

/* === 表示する文字（ONのとき） ============================ */
.switchArea  input[type="checkbox"]:checked + label span:after{
content        : "ON";                /* 表示する文字       */
padding        : 0 12px 0 0;          /* 表示する位置       */
color          : #78bd78;             /* 文字色             */
}

/* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
position       : absolute;            /* 親要素からの相対位置*/
width          : 16px;                /* 丸の横幅           */
height         : 16px;                /* 丸の高さ           */
background     : #999999;             /* カーソルタブの背景 */
top            : 2px;                 /* 親要素からの位置   */
left           : 1px;                 /* 親要素からの位置   */
border-radius  : 8px;                /* 角丸               */
transition     : .2s;                 /* 滑らか変化         */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
transform      : translateX(30px);    /* 丸も右へ移動       */
background     : #78bd78;             /* カーソルタブの背景 */
}

/* === 実行中バックグランド ================================ */
.runBg {
position   : fixed;
overflow   : hidden;
top        : 0;
right      : 0;
bottom     : 0;
left       : 0;
background : rgba(255, 255, 255, 0.90);
z-index    : 10;
}

/* === 実行中ウインド ====================================== */
.runBg .runWindow {
                           /* 実行中ウインドを中心に表示 */
position      : absolute;
top           : 50%;
left          : 50%;
transform     : translate(-50%, -50%);
z-index       : 11;
         /* ↓実行中ウインドウの見た目：変更してください */
width         : 300px;
background    : #fff;
border        : 3px solid #999;
border-radius : 10px;
font-size     : 12pt;
line-height   : 1.2;
text-align    : center;
}

/* === 実行中バーのエリア ================================== */
.runBg .runWindow .bar {
width         : 80%;
margin        : 10px auto;
overflow      : hidden;
border        : 1px solid rgba(127, 70, 0, 0.90);
}

/* === 実行中ウインド：アニメーション ====================== */
.runBg .runWindow .bar::before {
display       : block;
content       : "";
height        : 20px;
color         : #fff;
background    : linear-gradient(90deg, #ffffff, rgba(127, 70, 0, 0.90));
animation     : runOpenAnime 2s linear infinite;
}
@keyframes runOpenAnime {
0% { transform  :translateX(-100%) }
100% { transform  :translateX(100%)  }
}
#back{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: aquamarine;
    margin-left:10px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.bcp{
    display: inline-block;
    margin-top: 15px;
}